{% extends "iotdb_cloud_core/base.html" %}

{% block content %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Apache IoTDB Cloud</h1>
            <p class="lead text-muted">Here you can create new instances...</p>
            <p>
                <a href="{% url 'release/create' %}" class="btn btn-primary my-2">Create new Instance</a>
                {#                <a href="#" class="btn btn-secondary my-2">Secondary action</a>#}
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {% for release in releases %}
                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow">
                            <div class="alert alert-{% if release.ready %}success{% else %}danger{% endif %}" role="alert">
                                Instance: <b>{{ release.model.release_name }}</b>
                            </div>
                            {#                            <div>Instance: {{ release.name }}</div>#}
                            <div class="card-body">
                                <p class="card-text">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Owner</td>
                                        <td>{{ release.model.owner.username }}</td>
                                    </tr>
                                    <tr>
                                        <td>Version</td>
                                        <td>{{ release.model.cluster_version }}</td>
                                    </tr>
                                    <tr>
                                        <td>ID</td>
                                        <td>{{ release.model.uuid }}</td>
                                    </tr>
                                    <tr>
                                        <td>Instance Available?</td>
                                        <td>{{ release.ready }}</td>
                                    </tr>
                                    <tr>
                                        <td>External IP</td>
                                        <td>{{ release.ip }}</td>
                                    </tr>
                                    <tr>
                                        <td>Initialization Done?</td>
                                        <td>{{ release.model.initialized }}</td>
                                    </tr>
                                    <tr>
                                        <td>Admin Password</td>
                                        <td>{{ release.model.admin_password }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    {#                                    <div class="btn-group">#}
                                    {#                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>#}
                                    {#                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>#}
                                    {#                                    </div>#}
                                    {#                                    <small class="text-muted">9 mins</small>#}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}